@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+One');
@import url('https://fonts.googleapis.com/css?family=Acme+One');


/*Navigation bar begins*/
.navbar { 
    background-color: #073C72;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar img {
    display: block;
}

.navbar a {
    float: left;
    padding: 12px, 12px;
    color: #fff;
    text-align: center;
    display: block;
}

#logo {
    padding: 10px;
}
#logo img {
    width: 109px;
}

li a:hover {
    color: #FD7135;
    background-color: #052f58;
}
/*Navigation bar ends*/

/*General use classes for all pages*/
p {
    font-family: "Inter";
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    background: #fffff0;
    margin: auto;
    text-align: center;
}

.rounded {
    border-radius: 50%;
}

img.main {
    border: 12px, solid, #1B7B99;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    font-family: Krona One;
    color:#FD7135;
    
}

.button {
    background-color: #00BF63;
    border: none;
    color: white;
    text-align: center;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
}

a.active {
    color: #FD7135;
}

/*End*/

/*Decor for services page*/
body#services {
    background-image: url("images/bgplanet.png"), url("images/bgmath.png");
    background-repeat: no-repeat;
    background-position: -10% 40%, 110% 40%;
    background-color: #fffff0d5;
    background-blend-mode: lighten;
}

img#glasses {
    width: 100%;
}

table.subjects {
    display: table;
    margin: 0 auto;
}

.topictable , .stattable {
    width: 78px;
    border-collapse: collapse;
}

.stattable {
    color: white;
    font-family: 'Arial';
}

.jointhe {
    margin-top: 40px;
}

h5 {
    margin: 0px;
}

h1.tutortasticfam {
    margin: 0px;
    padding: 0px;
}

/* Landing */
.land-img {
    border: 20px, solid, #1B7B99;
    width: 360px;
    position: absolute;
    top: 200px;
    right: 750px;
}

span.tutortastic {
    font-size: 35px;
    position: absolute;
    top: 580px;
    right: 840px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
    1px 1px 0 white;
}

div.bar {
    background-color: #1B7B99;
    margin-top: 160px;
    padding: 20px 0px;
}

img.barimg {
    opacity: 0.1;
    width: 100%;
}


.review-left {
    position: absolute;
    top: 350px;
    left: 150px;
}

.review-right {
    position: absolute;
    top: 350px;
    right: 150px;
}

span.right {
    text-align: end;
}

.review {
    color: white;
    text-align: left;
}

img.revimg {
    width: 80px;
}

.landingpara {
    margin-top: 100px;
    margin-bottom: 200px;
}

div.landingstats {
    background: grey url('images/booksnew.png') no-repeat;
    margin: 0px;
    padding: 0px;
}

.statmain {
    display: inline-block;
}

.statimg {
    width: 78px;
}

.stats {
    border: 5px white;
    display: table;
    margin: 0 auto;
}


/* Register page */
p#registertext {
    position: right;
}

div.register {
    padding: 0px;
    margin-top: 55px;
    display: inline-block;
}

.registerimage {
    border-radius: 30px;
    width: 350px;
    position: left;
}
body#registerbody {
    background-image: url("images/bgbubble.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 25%;
    background-color: #fffff0d5;
    background-blend-mode: lighten;  
    background-size: 600px;
}

/* About page */
.aboutus {
    position: fixed;
    left: 40px;
    top: 170px;
}

img#tutoringservice {
    width: 400px;
    position: fixed;
    top: 120px;
    right: 268px;
}

img#bykiwis {
    width: 370px;  
    position: fixed; 
    top: 600px;
    right: 290px;
}
.aboutpara {
    font-size: 18px;
    font-family: 'Arial';
    color: white;
    text-align: left;
    padding-left: 22px;
    position: absolute;
    top: 285px;
}

.aboutimg {
    position: fixed;
    top: 170px;
    right: 230px;
    width: 450px;
}