@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+One');
@import url('https://fonts.googleapis.com/css?family=Acme+One');

/*.navbar {
    background-color: radial-gradient(#073C72, #211B43);
    background-color:#073C72;
    padding: 20px;
    overflow: hidden;
}*/

.navbar { 
    background-color: #073C72;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar img {
    display: block;
}

.navbar a {
    float: left;
    padding: 12px, 12px;
    color: #fff;
    text-align: center;
    display: block;
}

#logo {
    padding: 10px;
}
#logo img {
    width: 109px;
}

li a:hover {
    color: #FD7135;
    background-color: #052f58;
}

/*li a:visited {
    color: #FD7135;
}*/
p {
    font-family: "Inter";
}

body {
    background: #fffff0;
    margin: auto;
    text-align: center;
}

.rounded {
    border-radius: 50%;
}

li {
    list-style-type: none;
}





body#services {
    background-image: url("images/bgplanet.png"), url("images/bgmath.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -10% 50%, 110% 50%;
    background-color: #fffff0d5;
    background-blend-mode: lighten;
}

img#glasses {
    width: 100%;
}

table.subjects {
    display: table;
    margin: 0 auto;
}

.topictable , .stattable , .benefittable {
    width: 78px;
    border-collapse: collapse;
}

img.main {
    width: 200;
    border: 12px, solid, #1B7B99;
}

p#registertext {
    position: right;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    font-family: Krona One;
    color:#FD7135;
    
}

.land-img {
    border: 20px, solid, #1B7B99;
    width: 360px;
    /*position: fixed;*/
    top: 200 px;
    right: 750px;
}

span.tutortastic {
    font-size: 35px;
    position: absolute;
    top: 580px;
    right: 840px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
    1px 1px 0 white;
}

div.bar {
    margin-top: 20px;
    background-color: #1B7B99;
}

.review {
    display: inline-block;
    color: white;
}

img.revimg {
    width: 80px;
}

div.landingstats {
    background: grey;
    background-image: "images/books.png";
    margin: 0px;
    padding: 0px;
}

.stats {
    display: table;
    margin: 0 auto;
}


.benefits {
    background: grey;
    margin: 0 auto;
}

.button {
    background-color: #00BF63;
    border: none;
    color: white;
    text-align: center;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
}

a.active {
    color: #FD7135;
}

div.register {
    display: inline-block;
}

.registerimage {
    border-radius: 30px;
    width: 400px;
    position: left;
}
body#registerbody {
    background-image: url("images/bgbubble.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #fffff0d5;
    background-blend-mode: lighten;  
    background-size: 600px;
}
